ENV=development
PORT=8080
HOST=localhost
CLIENT_URL=localhost:3000

# Database creds
PG_USER=nullcast
PG_PASSWORD=password
PG_HOST=localhost
PG_DATABSE=nullcast
PG_PORT=5432

# JWT details
JWT_KEY=xxxxxxxx
JWT_EXPIRY=2592000

# Email service credentials
MAIL_HOST=xxx.xxx.xxx
MAIL_PORT=587
mail_user=xxxxxx@xxxx.xx
MAIL_PASS=xxxxxxxxxxxxxxxxx